.dotted-line {
  background-image: linear-gradient(to right, #606060 30%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  height: 1px;
}