.features {
  text-align: center;
  margin-bottom: 80px;

  .marketplace-card {
    padding: 12px;
  }

  .marketplace-card__rarity {
    font-family: $font-family--quantico;
    font-size: 18px;

    padding: 4px 12px;
  }

  .marketplace-card__img-wrapper video {
    width: 100%;
    height: auto;
  }
}

.features__title {
  margin-bottom: 32px;
}

.swiper-features {
  margin-bottom: 32px;

  @media(width>=$desktop-width) {
    margin-bottom: 60px;
  }
}

.swiper-features__text {
  padding: 12px;
  text-align: left;
}

.swiper-features__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.swiper-features__button {
  padding: 10px;

  &--next {
    transform: rotate(180deg);
  }

  @media(width>=$desktop-width) {
    // position: absolute;
    // bottom: 0;

  }
}




.swipers-wrapper {
  @media(width>=$desktop-width) {
    position: relative;
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.swiper-trumb__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: none;
  max-width: 448px;

  @media(width>=$desktop-width) {
    display: block;
  }
}



.swiper-trumb2__wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;

  display: none;
  max-width: 448px;

  @media(width>=$desktop-width) {
    display: block;
  }
}

.swiper-features__wrapper {
  @media(width>=$desktop-width) {
    max-width: 800px;
  }
}