.page-policy {
  .main-nav {
    display: none;
  }

  @media(width>=$desktop-width) {
    .page-header {
      display: none;
    }
  }
}

.policy {
  margin-top: -20px;
  margin-bottom: 120px;

  text-align: center;

  @media(width>=$desktop-width) {
    margin-top: 0;
    padding-top: 26px;
  }
}

.policy__wrapper {
  max-width: 922px;
  margin: 0 auto;

  text-align: left;
}

pre {
  text-wrap: pretty;
}

.policy__title {
  margin-bottom: 37px;

  color: $color-white;

  @media(width>=$desktop-width) {
    margin-bottom: 47px;

    font-size: 48px;
  }
}

.policy__subtitle {
  margin-bottom: 28px;

  font-size: 18px;
  color: $color-white;

  @media(width>=$desktop-width) {
    margin-bottom: 38px;

    font-size: 24px;
  }
}