.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.form__title {


  & a {
    padding-left: 8px;
    color: $color-yellow;
  }
}

.form__link {
  display: inline-flex;
  align-items: center;

  & svg {
    fill: transparent;
    stroke: $color-yellow;

    transform: rotate(-90deg);
  }
}

.form__input-control {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // gap: 8px;

  border-radius: 14px;
  background: $color-grey--dark-50;
  backdrop-filter: blur(15px);


  &:hover {
    label {
      color: $color-white;
    }

    .form__input-button {
      svg {
        fill: $color-white;
      }
    }
  }

  &.error {
    .form__input {
      color: #FF3632;
    }
  }


  & .form__input {
    width: 100%;
    padding: 0;
    height: 100%;
    min-height: 100%;
    color: $color-yellow;
    padding: 16px 20px;
    background-color: transparent;
    border: none;
    transition: color .2s ease-out;

    &:autofill,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: $color-yellow;
      -webkit-box-shadow: 0 0 0px 40rem rgba(23, 23, 23, 0.985) inset;
      border: none;
    }

    &--textarea {
      min-height: 120px;
      height: 120px;
      resize: none;
    }
  }
}

.form__input-button {


  position: absolute;
  right: 16px;
  top: 0;
  bottom: 0;
  margin: auto 0;

  & svg {
    fill: #9A9A9A;
    transition: fill .2s ease-out;
  }
}

.form__checkbox-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  color: $color-grey--light;

  cursor: pointer;

  &:hover {
    color: $color-yellow;

    .form__checkbox-custom {
      border: 1px solid $color-yellow;
    }

    .form__checkbox-text {
      color: $color-yellow;
    }
  }
}

.form__checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:checked {

    &~.form__checkbox-custom {
      border: 1px solid $color-yellow;

      &::before {
        display: block;
      }
    }

    &~.form__checkbox-text {
      color: $color-yellow;
    }
  }
}

.form__checkbox-custom {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 16px;
  min-height: 16px;

  margin-right: 8px;

  border: 1px solid $color-grey--light;
  border-radius: 4px;

  transition: border .2s ease-out;

  &::before {
    content: "";

    display: none;
    width: 10px;
    height: 8px;

    background-image: url('~images/marketplace/cheked.svg');
    background-repeat: no-repeat;
  }
}

.form__checkbox-text {
  font-size: 12px;
  color: $color-grey--light;
  transition: color .2s ease-out;
  text-align: left;



  @media (width >=$desktop-width) {
    font-size: 14px;
  }
}


.form-floating>label {
  padding: 16px 20px;

  color: $color-grey--light;

  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out, color .2s ease-out;
}

.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown),
.form-floating>.form-control-plaintext:focus,
.form-floating>.form-control-plaintext:not(:placeholder-shown) {
  padding: 16px 20px;
}

.form-control:focus {
  box-shadow: none;
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-control-plaintext~label,
.form-floating>.form-select~label {
  font-size: 10px;

  color: $color-grey--light;
  background-color: transparent;

  &::after {
    display: none;
  }
}