
.header-register__main-nav {
  &.main-nav {
    display: none;

    @media(width>=$desktop-width) {
      display: flex;
      min-height: auto;
      gap: 32px;
      top: 40px;
    }
  }
}

.header-register {
  margin-bottom: -112px;
  background: transparent;
  z-index: 50;

  & .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
    padding: 16px 0;

    @media(width>=$desktop-width) {
      padding: 0;
      margin: 0;
    }
  }
}

.header-register__logo {
  @media(width>=$desktop-width) {
    display: none;
  }
}

.header-register__back {
  display: flex;
  align-items: center;
  gap: 4px;
  transition: color .2s ease-out;

  span {
    opacity: 0.5;
    transition: opacity .2s ease-out;
  }

  & svg {
    stroke: currentColor;
  }

  &:hover {
    color: $color-yellow;

    span {
      opacity: 1;
    }
  }

  &--mobile {
    @media(width>=$desktop-width) {
      display: none;
    }
  }

  &--desktop {
    @media(width>=$desktop-width) {
      display: flex;
      flex-direction: column;
      font-family: $font-family--petch;
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      color: $color-white;
    }
  }
}