.page-register {
  main {
    position: relative;
    overflow-x: hidden;
    padding-top: 119px;

    @media(width>=$desktop-width) {
      padding-top: 130px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;

      transform: translate(-50%, -80%);

      content: "";
      width: 1950px;
      height: 1699px;
      background: radial-gradient(50% 50% at 50% 50%, #77D6FF 0%, rgba(23, 23, 23, 0.00) 100%);
    }
  }
}

.page-register__title {
  margin-bottom: 16px;
}

.page-register__subtitle {
  margin-bottom: 40px;
}

.page-register__wrapper {
  max-width: 454px;
  margin: 0 auto;

  text-align: center;
}

.register__title {
  margin-bottom: 30px;
}

.form__login-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & a {
    color: $color-yellow;
  }
}

.form__singup-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & a {
    color: $color-yellow;
  }
}







.register__separator {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;

  & .dotted-line {
    width: 100%;
  }
}

.register__separator-text {
  white-space: nowrap;
  color: $color-grey--light;
}

.register__buttons {
  display: flex;
  gap: 16px;

  & a {
    width: 100%;
  }
}