$font-family--cydekick: "Cydekick", sans-serif;
$font-family--petch: "Chakra Petch", sans-serif;
$font-family--quantico: "Quantico", sans-serif;

$color-white: #FFFFDF;
$color-white-35: rgba(255, 255, 255, 0.35);

$color-yellow: #FFB932;

$color-grey: #3D3D3D;
$color-grey--light: #9A9A9A;
$color-grey--dark: #171717;
$color-grey--dark-50 : rgba(#171717, 50%);
$color-grey--dark-75: rgba(#171717, 75%);

$tablet-width: 720px;
$middle-width: 992px;
$desktop-width: 1440px;
$large-width: 1920px;
